.container {
  align-items: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  padding: 10px;
  margin: 10px;
}

.box {
  position: relative;
  align-items: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  margin: 5px;
  padding: 10px;
}

.box.a {
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
  border: 2px 5px solid black;
  background-color: rgba(255, 255, 255, 0.623);
  height: auto;
  width: 250px;
}

.box.b {
  border-bottom: 2px solid black;
  width: 100%;
  margin: 10px;
}

.terminal {
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing2 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.box.a > label {
  color: black;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.box.a > input{
  font-family: monospace;
  border-radius: 5px;
  overflow: auto;
  white-space: nowrap;
  
}

.box.a > select{
  font-family: monospace;
  border-radius: 5px;

  overflow: auto;
  white-space: nowrap;
  animation: typing2 2.5s steps(30, end) , blink-carte 0.5s ;

}

.box.a > select:hover{
  background-color: rgb(32, 29, 29);
  color: #00ff00;
}

.box.a > input:hover{
  background-color: rgb(32, 29, 29);
  color: #00ff00;
}

.box.a > button{
  font-family: monospace;
  border-radius: 5px;
  overflow: auto;
  white-space: nowrap;
  animation: typing2 2.5s steps(30, end) , blink-carte 0.5s ;
}

.box.a > button:active{
  background-color: rgb(32, 29, 29);
  color: #00ff00;
}

@keyframes typing2 {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 80%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #00ff00;
  }
}

.iz{
  position: relative;
  float: left;
  border: 5px solid black;
  background-color: rgb(32, 29, 29);
}

